<a href="https://colab.research.google.com/github/LuizZaghetto/ProjetosAnaliseDados/blob/main/ProjetoVinho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
wine = pd.read_csv("wine.csv", header=None)
wine

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [ ]:
winenorm = (wine - wine.min())/(wine.max() - wine.min())
winenorm.round(2)
winenorm.to_csv("sample_data/Winenorm.csv")

In [ ]:

wineteste = wine.dropna()
wine.shape

(178, 14)

In [ ]:
df2 = pd.DataFrame(data=winenorm)
df2.rename(columns={0 : "Coluna 0" }, inplace = True)
df2.rename(columns={1 : "Coluna 1" }, inplace = True)
df2.rename(columns={2 : "Coluna 2" }, inplace = True)
df2.rename(columns={3 : "Coluna 3" }, inplace = True)
df2.rename(columns={4 : "Coluna 4" }, inplace = True)
df2.rename(columns={5 : "Coluna 5" }, inplace = True)
df2.rename(columns={6 : "Coluna 6" }, inplace = True)
df2.rename(columns={7 : "Coluna 7" }, inplace = True)
df2.rename(columns={8 : "Coluna 8" }, inplace = True)
df2.rename(columns={9 : "Coluna 9" }, inplace = True)
df2.rename(columns={10 : "Coluna 10" }, inplace = True)
df2.rename(columns={11 : "Coluna 11" }, inplace = True)
df2.rename(columns={12 : "Coluna 12" }, inplace = True)
df2.rename(columns={13 : "Coluna 13" }, inplace = True)

In [ ]:
df2

,Coluna 0,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 9,Coluna 10,Coluna 11,Coluna 12,Coluna 13
0,0.0,0.842105,0.191700,0.572193,0.257732,0.619565,0.627586,0.573840,0.283019,0.593060,0.372014,0.455285,0.970696,0.561341
1,0.0,0.571053,0.205534,0.417112,0.030928,0.326087,0.575862,0.510549,0.245283,0.274448,0.264505,0.463415,0.780220,0.550642
2,0.0,0.560526,0.320158,0.700535,0.412371,0.336957,0.627586,0.611814,0.320755,0.757098,0.375427,0.447154,0.695971,0.646933
3,0.0,0.878947,0.239130,0.609626,0.319588,0.467391,0.989655,0.664557,0.207547,0.558360,0.556314,0.308943,0.798535,0.857347
4,0.0,0.581579,0.365613,0.807487,0.536082,0.521739,0.627586,0.495781,0.490566,0.444795,0.259386,0.455285,0.608059,0.325963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,1.0,0.705263,0.970356,0.582888,0.510309,0.271739,0.241379,0.056962,0.735849,0.205047,0.547782,0.130081,0.172161,0.329529
174,1.0,0.623684,0.626482,0.598930,0.639175,0.347826,0.282759,0.086498,0.566038,0.315457,0.513652,0.178862,0.106227,0.336662
175,1.0,0.589474,0.699605,0.481283,0.484536,0.543478,0.210345,0.073840,0.566038,0.296530,0.761092,0.089431,0.106227,0.397290
176,1.0,0.563158,0.365613,0.540107,0.484536,0.543478,0.231034,0.071730,0.754717,0.331230,0.684300,0.097561,0.128205,0.400856
177,1.0,0.815789,0.664032,0.737968,0.716495,0.282609,0.368966,0.088608,0.811321,0.296530,0.675768,0.105691,0.120879,0.201141

In [ ]:
crx = pd.read_csv("crx.csv", header=None, na_values="?")

In [ ]:

crx.shape

(690, 16)

In [ ]:
crx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       678 non-null    object
 1   1       678 non-null    float64
 2   2       690 non-null    float64
 3   3       684 non-null    object
 4   4       684 non-null    object
 5   5       681 non-null    object
 6   6       681 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      677 non-null    float64
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(4), int64(2), object(10)
memory usage: 86.4+ KB

In [ ]:
df = pd.DataFrame(data=crx)
df.rename(columns={0 : "Coluna 0" }, inplace = True)
df.rename(columns={1 : "Coluna 1" }, inplace = True)
df.rename(columns={2 : "Coluna 2" }, inplace = True)
df.rename(columns={3 : "Coluna 3" }, inplace = True)
df.rename(columns={4 : "Coluna 4" }, inplace = True)
df.rename(columns={5 : "Coluna 5" }, inplace = True)
df.rename(columns={6 : "Coluna 6" }, inplace = True)
df.rename(columns={7 : "Coluna 7" }, inplace = True)
df.rename(columns={8 : "Coluna 8" }, inplace = True)
df.rename(columns={9 : "Coluna 9" }, inplace = True)
df.rename(columns={10 : "Coluna 10" }, inplace = True)
df.rename(columns={11 : "Coluna 11" }, inplace = True)
df.rename(columns={12 : "Coluna 12" }, inplace = True)
df.rename(columns={13 : "Coluna 13" }, inplace = True)
df.rename(columns={14 : "Coluna 14" }, inplace = True)
df.rename(columns={15 : "Coluna 15" }, inplace = True)

In [ ]:
media_1 = df["Coluna 1"].mean()
print(media_1)
df["Coluna 1"].fillna(media_1, inplace=True)

31.56817109144543

In [ ]:
media_13 = df["Coluna 13"].mean()
print(media_13)
df["Coluna 13"].fillna(media_13, inplace=True)

184.01477104874445

In [ ]:
media_7 = df["Coluna 7"].mean()
print(media_7)

2.223405797101449

In [ ]:
df.round(4)

,Coluna 0,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 9,Coluna 10,Coluna 11,Coluna 12,Coluna 13,Coluna 14,Coluna 15
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,202.0,0,+
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,43.0,560,+
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,280.0,824,+
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,100.0,3,+
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,120.0,0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,b,21.08,10.085,y,p,e,h,1.25,f,f,0,f,g,260.0,0,-
686,a,22.67,0.750,u,g,c,v,2.00,f,t,2,t,g,200.0,394,-
687,a,25.25,13.500,y,p,ff,ff,2.00,f,t,1,t,g,200.0,1,-
688,b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,280.0,750,-
689,b,35.00,3.375,u,g,c,h,8.29,f,f,0,t,g,0.0,0,-

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Coluna 0   678 non-null    object
 1   Coluna 1   690 non-null    float64
 2   Coluna 2   690 non-null    float64
 3   Coluna 3   684 non-null    object
 4   Coluna 4   684 non-null    object
 5   Coluna 5   681 non-null    object
 6   Coluna 6   681 non-null    object
 7   Coluna 7   690 non-null    float64
 8   Coluna 8   690 non-null    object
 9   Coluna 9   690 non-null    object
 10  Coluna 10  690 non-null    int64
 11  Coluna 11  690 non-null    object
 12  Coluna 12  690 non-null    object
 13  Coluna 13  690 non-null    float64
 14  Coluna 14  690 non-null    int64
 15  Coluna 15  690 non-null    object
dtypes: float64(4), int64(2), object(10)
memory usage: 86.4+ KB

In [ ]:
df[["Coluna 1","Coluna 2","Coluna 7","Coluna 13","Coluna 14"]] = (crx[["Coluna 1","Coluna 2","Coluna 7","Coluna 13","Coluna 14"]] - crx[["Coluna 1","Coluna 2","Coluna 7","Coluna 13","Coluna 14"]].min())/(crx[["Coluna 1","Coluna 2","Coluna 7","Coluna 13","Coluna 14"]].max() - crx[["Coluna 1","Coluna 2","Coluna 7","Coluna 13","Coluna 14"]].min())
df.round(2)

,Coluna 0,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 9,Coluna 10,Coluna 11,Coluna 12,Coluna 13,Coluna 14,Coluna 15
0,b,0.26,0.00,u,g,w,v,0.04,t,t,1,f,g,0.10,0.00,+
1,a,0.68,0.16,u,g,q,h,0.11,t,t,6,f,g,0.02,0.01,+
2,a,0.16,0.02,u,g,q,h,0.05,t,f,0,f,g,0.14,0.01,+
3,b,0.21,0.06,u,g,w,v,0.13,t,t,5,t,g,0.05,0.00,+
4,b,0.10,0.20,u,g,w,v,0.06,t,f,0,f,s,0.06,0.00,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,b,0.11,0.36,y,p,e,h,0.04,f,f,0,f,g,0.13,0.00,-
686,a,0.13,0.03,u,g,c,v,0.07,f,t,2,t,g,0.10,0.00,-
687,a,0.17,0.48,y,p,ff,ff,0.07,f,t,1,t,g,0.10,0.00,-
688,b,0.06,0.01,u,g,aa,v,0.00,f,f,0,f,g,0.14,0.01,-
689,b,0.32,0.12,u,g,c,h,0.29,f,f,0,t,g,0.00,0.00,-

In [ ]:
df.to_csv("sample_data/crxnorm.csv")