<a href="https://colab.research.google.com/github/LuizZaghetto/ProjetosAnaliseDados/blob/main/ProjetoAbalone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.impute import KNNImputer

In [ ]:
base = pd.read_csv("abalone-dataPI.csv", na_values="-", header = None)
base.sample(15)

# 0 = Sexo
# 1 = Comprimento
# 2 = Diâmetro
# 3 = Altura
# 4 = Peso total
# 5 = Peso dentro da concha
# 6 = Peso visceral
# 7 = Peso da concha
# 8 = Anéis(Idade)

      0      1      2      3       4       5       6       7     8
3382  M  0.495  0.400  0.120  0.6605  0.2605  0.1610  0.1900  15.0
653   M  0.310  0.225  0.080  0.1345  0.0540  0.0240  0.0500   7.0
4109  M  0.480  0.365  0.130  0.5305  0.2405  0.1270  0.1390   8.0
2900  F  0.550  0.435  0.140  0.7450  0.3470  0.1740  0.2265   9.0
1154  M  0.600  0.455  0.170  1.1915  0.6960  0.2395  0.2400   8.0
2995  M  0.610  0.485  0.170  1.2810  0.5970  0.3035  0.3300   9.0
2555  I  0.370  0.290  0.080  0.2545  0.1080  0.0565  0.0700   6.0
893   I  0.240  0.175  0.055  0.0705  0.0250  0.0140  0.0210   5.0
2243  M  0.465  0.360  0.130  0.5265  0.2105  0.1185  0.1650  10.0
709   I  0.295  0.225  0.090  0.1105  0.0405  0.0245  0.0320   7.0
3734  M  0.615  0.505  0.165  1.1670  0.4895  0.2955  0.3450  10.0
531   F  0.460  0.355  0.130  0.4580  0.1920  0.1055  0.1300  13.0
281   I  0.360  0.285  0.105  0.2415  0.0915  0.0570  0.0750   7.0
3546  I  0.475  0.350  0.115  0.4980  0.2375  0.0990  0.1400   7.0
222   F  0.490  0.375  0.150  0.5755  0.2200  0.1440  0.1900   9.0

In [ ]:
df = pd.DataFrame(data=base)
df.rename(columns={0 :"Sexo" }, inplace = True)
df.rename(columns={1 :"Comprimento" }, inplace = True)
df.rename(columns={2 :"Diâmetro" }, inplace = True)
df.rename(columns={3 :"Altura" }, inplace = True)
df.rename(columns={4 :"Peso Total" }, inplace = True)
df.rename(columns={5 :"Peso dentro da Concha" }, inplace = True)
df.rename(columns={6 :"Peso Visceral" }, inplace = True)
df.rename(columns={7 :"Peso da Concha" }, inplace = True)
df.rename(columns={8 :"Anéis(Idade)" }, inplace = True)

In [ ]:
dfmexido = df.copy()

In [ ]:
base.describe()

,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
count,4167.000000,4167.000000,4167.000000,4167.000000,4144.000000,4167.00000,4161.000000,4167.000000
mean,0.655149,0.460320,0.159646,0.849997,0.419780,0.18543,0.241334,12.831293
std,2.582199,1.060604,0.405352,0.710746,1.824202,0.15271,0.160342,57.276319
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.00050,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.442500,0.186000,0.09350,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.800000,0.335750,0.17100,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.156000,0.502250,0.25400,0.330000,11.000000
max,62.500000,29.150000,11.130000,21.505000,65.800000,3.23000,3.560000,1400.000000




#Peso dentro da concha

Com base o cálculo dos outliers e seu baixo volume na coluna, foi possível trocar eles pela média

In [ ]:
df.sample(15)

,Sexo,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
1307,I,0.545,0.435,0.135,0.7715,0.3720,0.1480,0.2270,8.0
33,F,0.680,0.550,0.175,1.7980,0.8150,0.3925,0.4550,19.0
3939,M,0.555,0.420,0.145,0.8695,0.3075,0.2575,0.2500,14.0
3288,F,0.605,0.475,0.145,1.0185,0.4695,0.2250,0.2700,15.0
3333,I,0.450,0.360,0.125,0.4500,0.1910,0.0865,0.1450,12.0
3151,F,0.665,0.500,0.175,1.7420,0.5950,0.3025,0.7250,21.0
603,I,0.470,0.345,0.115,0.4885,0.2005,0.1080,0.1660,11.0
1148,M,0.580,0.450,0.145,1.0025,0.5470,0.1975,0.2295,8.0
763,M,0.640,0.510,0.190,1.6130,0.6215,0.3610,0.4700,14.0
1201,M,0.720,0.565,0.145,1.1870,0.6910,0.1945,0.2685,8.0
3175,I,0.510,0.405,0.120,0.6100,0.2290,0.1310,0.2350,11.0
1304,M,0.535,0.435,0.150,0.7170,0.3475,0.1445,0.1940,9.0
162,M,0.610,0.485,0.175,1.2445,0.5440,0.2970,0.3450,12.0
3006,M,0.700,0.545,0.185,1.6135,0.7500,0.4035,0.3685,11.0
2864,I,0.310,0.230,0.070,0.1245,0.0505,0.0265,0.0380,6.0

In [ ]:
df["Peso dentro da Concha"].describe()

count    4144.000000
mean        0.419780
std         1.824202
min         0.001000
25%         0.186000
50%         0.335750
75%         0.502250
max        65.800000
Name: Peso dentro da Concha, dtype: float64

In [ ]:
dfPDCalto = df[df["Peso dentro da Concha"]>3*1.8242]
dfPDCalto["Peso dentro da Concha"].describe()
dfPDCalto

,Sexo,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
1924,NaN,0.61,NaN,0.155,0.9570,42.55,0.1975,0.2650,8.0
2358,F,0.61,0.485,11.130,1.3445,53.50,0.2205,0.5150,20.0
2804,F,0.66,0.505,0.190,1.4045,62.55,0.3375,0.3745,9.0
3589,M,0.65,NaN,9.540,1.4630,65.80,0.3135,0.4115,11.0
3761,NaN,NaN,NaN,0.135,0.6750,29.40,1.5600,0.1825,10.0

In [ ]:
dfPDCbaixo = dfmexido[dfmexido["Peso dentro da Concha"]<3*1.8242]
dfPDCbaixo.mean()
media = 0.358968

<ipython-input-9-dd21e06128ab>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dfPDCbaixo.mean()

In [ ]:
dfmexido["Peso dentro da Concha"] = np.where(dfmexido["Peso dentro da Concha"]>3*1.8242, media, dfmexido["Peso dentro da Concha"] )

In [ ]:
dfmexido.loc[3761]

Sexo                          NaN
Comprimento                   NaN
Diâmetro                      NaN
Altura                      0.135
Peso Total                  0.675
Peso dentro da Concha    0.358968
Peso Visceral                1.56
Peso da Concha             0.1825
Anéis(Idade)                 10.0
Name: 3761, dtype: object

# Peso Visceral

Com base o cálculo dos outliers e seu baixo volume na coluna, foi possível trocar eles pela média

In [ ]:
dfPV = df.copy()

In [ ]:
df["Peso Visceral"].describe()

count    4167.00000
mean        0.18543
std         0.15271
min         0.00050
25%         0.09350
50%         0.17100
75%         0.25400
max         3.23000
Name: Peso Visceral, dtype: float64

In [ ]:
dfPValto = df[df["Peso Visceral"]>3*0.15271+0.18543]
dfPValto.describe()

,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
count,8.000000,8.000000,8.000000,9.000000,9.000000,10.000000,7.000000,10.000000
mean,0.635000,3.746250,1.238125,1.309111,3.792833,2.250000,0.720286,11.400000
std,0.063696,9.194111,3.033500,0.603941,9.607309,0.717751,0.969769,2.590581
min,0.560000,0.430000,0.125000,0.675000,0.334500,0.760000,0.182500,8.000000
25%,0.598750,0.472500,0.138750,1.044000,0.444500,2.051250,0.275250,10.000000
50%,0.630000,0.487500,0.160000,1.194000,0.509500,2.262500,0.406000,10.500000
75%,0.642500,0.543750,0.205000,1.376500,0.634000,2.788750,0.501500,12.750000
max,0.775000,26.500000,8.745000,2.779500,29.400000,3.230000,2.900000,16.000000

In [ ]:
df.describe()

,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
count,4167.000000,4167.000000,4167.000000,4167.000000,4144.000000,4167.00000,4161.000000,4167.000000
mean,0.655149,0.460320,0.159646,0.849997,0.419780,0.18543,0.241334,12.831293
std,2.582199,1.060604,0.405352,0.710746,1.824202,0.15271,0.160342,57.276319
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.00050,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.442500,0.186000,0.09350,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.800000,0.335750,0.17100,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.156000,0.502250,0.25400,0.330000,11.000000
max,62.500000,29.150000,11.130000,21.505000,65.800000,3.23000,3.560000,1400.000000

In [ ]:
dfPVbaixo= df[df["Peso Visceral"]<(3*0.15271+0.18543)]
mediaPV = dfPVbaixo["Peso Visceral"].mean()

In [ ]:
 dfmexido["Peso Visceral"] = np.where(dfmexido["Peso Visceral"]>(3*0.15271+0.18543), mediaPV, dfmexido["Peso Visceral"] )

# Peso da concha

Com base o cálculo dos outliers e seu baixo volume na coluna, foi possível trocar eles pela média

In [ ]:
dfConcha = df.copy()

In [ ]:
dfConcha["Peso da Concha"].describe()

count    4161.000000
mean        0.241334
std         0.160342
min         0.001500
25%         0.130000
50%         0.234000
75%         0.330000
max         3.560000
Name: Peso da Concha, dtype: float64

In [ ]:
dfConchaAlto = df[dfConcha["Peso da Concha"]>0.241334+3*0.16]
dfConchaBaixo = df[dfConcha["Peso da Concha"]<0.241334+3*0.16]
mediaConcha = dfConchaBaixo["Peso da Concha"].mean()

In [ ]:
dfmexido["Peso da Concha"] = np.where(dfmexido["Peso da Concha"]>0.241334+3*0.16, mediaConcha, dfmexido["Peso da Concha"] )


# Comprimento

Nesse trecho foi percebido que os dados espúrios estão muito além do outlier, se localizando entre 30 e 60, e já que são somente 12 dados, o que corresponde a menos de 1% do total do dataset, podemos substituir pela média, sem a necessidade de um trabalho mais complexo. Segue o passo a passo embaixo.

In [ ]:
df["Comprimento"].describe()

count    4167.000000
mean        0.655149
std         2.582199
min         0.075000
25%         0.450000
50%         0.545000
75%         0.615000
max        62.500000
Name: Comprimento, dtype: float64

In [ ]:
dfcomalto = df[df["Comprimento"] > 0.8]

In [ ]:
dfcomalto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 112 to 4162
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sexo                   10 non-null     object
 1   Comprimento            12 non-null     float64
 2   Diâmetro               10 non-null     float64
 3   Altura                 11 non-null     float64
 4   Peso Total             12 non-null     float64
 5   Peso dentro da Concha  12 non-null     float64
 6   Peso Visceral          11 non-null     float64
 7   Peso da Concha         12 non-null     float64
 8   Anéis(Idade)           12 non-null     float64
dtypes: float64(8), object(1)
memory usage: 960.0+ bytes

In [ ]:
dfcomalto.sample(12)

,Sexo,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
874,F,62.500,0.490,0.200,1.3825,0.5895,0.2850,0.3810,11.0
2377,NaN,53.500,0.410,0.155,0.6315,0.2745,0.1415,0.1815,12.0
3136,M,53.500,0.420,6.625,0.7640,0.3120,0.1505,0.2650,11.0
317,M,45.000,0.350,0.100,0.3675,0.1465,0.1015,0.1200,10.0
4162,M,38.500,0.255,0.100,0.3175,0.1370,NaN,0.0920,8.0
1549,I,38.500,NaN,0.095,0.2570,0.1190,0.0590,0.0700,7.0
2640,I,46.500,0.355,0.105,0.4420,0.2085,0.0975,0.1185,7.0
112,I,43.500,0.320,0.080,0.3325,0.1485,0.0635,0.1050,9.0
2588,F,57.000,NaN,NaN,0.8585,0.3905,0.1960,0.2295,8.0
1428,F,0.815,0.650,0.250,2.2550,0.8905,0.4200,0.7975,14.0
1623,NaN,56.500,0.440,0.150,0.8630,0.4350,0.1490,0.2700,9.0
758,M,57.000,0.440,0.155,1.1160,0.4775,0.2315,0.2700,13.0

In [ ]:
dfcombaixo = df[df["Comprimento"] < 0.8]

In [ ]:
mediacombaixo = dfcombaixo["Comprimento"].mean()
mediacombaixocerta = mediacombaixo.round(3)
print(mediacombaixocerta)

0.524

In [ ]:
 mediacomalto = df["Comprimento"].mean()
 mediacomaltocerta = mediacomalto.round(3)
 print(mediacomaltocerta)

0.655

In [ ]:
dfmexido["Comprimento"] = np.where(df["Comprimento"] > 0.8, mediacombaixocerta, df["Comprimento"])

In [ ]:
dfmexido["Comprimento"].describe()

count    4167.000000
mean        0.523993
std         0.119917
min         0.075000
25%         0.450000
50%         0.545000
75%         0.615000
max         0.800000
Name: Comprimento, dtype: float64

# Diâmetro

Com base o cálculo dos outliers e seu baixo volume na coluna, foi possível trocar eles pela média

In [ ]:
df["Diâmetro"].describe()

count    4167.000000
mean        0.460320
std         1.060604
min         0.055000
25%         0.350000
50%         0.425000
75%         0.480000
max        29.150000
Name: Diâmetro, dtype: float64

In [ ]:
zscore = 3*1.060320
lsup = 0.460320 + zscore
linf = 0.460320 - zscore
print(linf)
print(lsup)

-2.72064
3.6412799999999996

In [ ]:
dfdiaalto = df[df["Diâmetro"] > 3.6412799999999996]

In [ ]:
dfdiaalto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 266 to 3811
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sexo                   7 non-null      object
 1   Comprimento            11 non-null     float64
 2   Diâmetro               11 non-null     float64
 3   Altura                 9 non-null      float64
 4   Peso Total             10 non-null     float64
 5   Peso dentro da Concha  7 non-null      float64
 6   Peso Visceral          11 non-null     float64
 7   Peso da Concha         10 non-null     float64
 8   Anéis(Idade)           10 non-null     float64
dtypes: float64(8), object(1)
memory usage: 880.0+ bytes

In [ ]:
dfdiaalto.describe()

,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
count,11.000000,11.000000,9.000000,10.000000,7.000000,11.000000,10.000000,10.000000
mean,0.492273,20.284545,0.709444,1.889650,0.309357,0.361773,0.173700,9.500000
std,0.126716,5.575544,1.721784,3.291598,0.202601,0.735412,0.124848,2.877113
min,0.310000,11.925000,0.075000,0.213000,0.065000,0.037000,0.036500,6.000000
25%,0.405000,16.165000,0.120000,0.510125,0.145500,0.074250,0.075375,7.000000
50%,0.465000,19.080000,0.135000,0.878750,0.295000,0.139500,0.140000,9.500000
75%,0.570000,24.115000,0.165000,1.443000,0.466000,0.210250,0.238750,10.750000
max,0.750000,29.150000,5.300000,11.135000,0.582500,2.560000,0.440000,14.000000

In [ ]:
dfdiaalto.sample(10)

,Sexo,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
3676,F,0.600,26.500,NaN,1.1220,0.5095,2.5600,NaN,10.0
1774,NaN,0.465,19.080,0.115,0.5795,0.2950,0.1395,0.1200,7.0
638,I,0.440,18.285,0.120,0.4870,0.1965,0.1080,0.1600,14.0
1231,I,0.365,14.045,NaN,0.2130,0.0945,0.0490,0.0600,7.0
2552,I,0.310,11.925,0.075,1.5500,0.0650,0.0370,0.0365,6.0
1450,I,0.455,17.755,0.135,NaN,NaN,0.0995,0.1065,7.0
803,NaN,0.370,14.575,5.300,0.2200,NaN,0.0450,0.0650,NaN
3811,M,0.555,23.585,0.130,0.8625,0.4225,0.1550,0.2400,9.0
266,NaN,0.520,23.850,0.150,0.8950,NaN,0.1860,0.2350,14.0
1343,M,0.585,24.380,0.165,11.1350,0.5825,0.2345,0.2740,10.0

In [ ]:
mediadiabaixo = df[df["Diâmetro"] < 3.6412799999999996].mean()
mediadiabaixocerta = mediadiabaixo["Diâmetro"].round(3)

<ipython-input-37-7d58d42a04e9>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mediadiabaixo = df[df["Diâmetro"] < 3.6412799999999996].mean()

In [ ]:
dfmexido["Diâmetro"] = np.where(df["Diâmetro"] > 3.64, mediadiabaixocerta, df["Diâmetro"])

# Altura

Assim como nos outros trechos, foi usado de base a amplitude interquartil e o z-score para determinar os outliers, então substituimos esses valores novamente pela média, já que se estavam em número menor novamente.

In [ ]:
df["Altura"].describe()

count    4167.000000
mean        0.159646
std         0.405352
min         0.000000
25%         0.115000
50%         0.140000
75%         0.165000
max        11.130000
Name: Altura, dtype: float64

In [ ]:
zscore = 3*0.405352
lsup = 0.159646 + zscore
linf = 0.159646 - zscore
print(linf)
print(lsup)

-1.05641
1.375702

In [ ]:
dfalturaalta = df[df["Altura"] > 1.375702 ]

In [ ]:
dfalturaalta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 274 to 3589
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sexo                   8 non-null      object
 1   Comprimento            11 non-null     float64
 2   Diâmetro               10 non-null     float64
 3   Altura                 11 non-null     float64
 4   Peso Total             10 non-null     float64
 5   Peso dentro da Concha  8 non-null      float64
 6   Peso Visceral          11 non-null     float64
 7   Peso da Concha         11 non-null     float64
 8   Anéis(Idade)           10 non-null     float64
dtypes: float64(8), object(1)
memory usage: 880.0+ bytes

In [ ]:
dfalturaalta.sample(11)

,Sexo,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
3080,M,0.710,0.560,9.275,1.7240,0.5660,0.4575,0.4625,13.0
594,M,0.535,0.420,7.950,0.6995,0.2575,0.1530,0.2400,12.0
274,NaN,0.630,0.515,8.215,1.2590,NaN,0.1970,0.4100,13.0
2009,I,0.430,0.320,5.830,0.3675,0.1675,0.1020,0.1050,8.0
1072,I,0.400,0.320,5.035,0.3480,0.1940,0.0530,0.0870,6.0
2992,I,0.595,0.430,8.745,NaN,NaN,2.0700,0.2725,8.0
2358,F,0.610,0.485,11.130,1.3445,53.5000,0.2205,0.5150,20.0
2991,NaN,0.595,0.485,7.950,1.0835,0.5305,0.2310,0.2760,8.0
803,NaN,0.370,14.575,5.300,0.2200,NaN,0.0450,0.0650,NaN
3136,M,53.500,0.420,6.625,0.7640,0.3120,0.1505,0.2650,11.0
3589,M,0.650,NaN,9.540,1.4630,65.8000,0.3135,0.4115,11.0

In [ ]:
dfalturabaixa = df[df["Altura"] < 1.375702]

In [ ]:
mediaalturabaixa = dfalturabaixa["Altura"].mean()

In [ ]:
mediaalturabaixacerta = mediaalturabaixa.round(3)

In [ ]:
dfmexido["Altura"] = np.where(df["Altura"] > 1.375702, mediaalturabaixacerta, df["Altura"])

In [ ]:
dfmexido.describe()

,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
count,4167.000000,4167.000000,4167.000000,4167.000000,4144.000000,4167.000000,4161.000000,4167.000000
mean,0.523993,0.407850,0.139472,0.849997,0.358968,0.180463,0.236975,12.831293
std,0.119917,0.099138,0.041781,0.710746,0.222095,0.109322,0.135275,57.276319
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.442500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.800000,0.335750,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.156000,0.501125,0.252500,0.325000,11.000000
max,0.800000,0.650000,1.130000,21.505000,1.488000,0.641500,0.710000,1400.000000

# Peso Total

Com base o cálculo dos outliers e seu baixo volume na coluna, foi possível trocar eles pela média

In [ ]:
df["Peso Total"].describe()

count    4167.000000
mean        0.849997
std         0.710746
min         0.002000
25%         0.442500
50%         0.800000
75%         1.156000
max        21.505000
Name: Peso Total, dtype: float64

In [ ]:
zscore = 3*0.710746
lsup = 0.849997 + zscore
linf = 0.849997 - zscore
print(linf)
print(lsup)

-1.282241
2.982235

In [ ]:
dfPesoTalto = df[df["Peso Total"] > 2.0]

In [ ]:
dfPesoTalto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 163 to 4148
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sexo                   83 non-null     object
 1   Comprimento            84 non-null     float64
 2   Diâmetro               84 non-null     float64
 3   Altura                 85 non-null     float64
 4   Peso Total             85 non-null     float64
 5   Peso dentro da Concha  84 non-null     float64
 6   Peso Visceral          83 non-null     float64
 7   Peso da Concha         84 non-null     float64
 8   Anéis(Idade)           85 non-null     float64
dtypes: float64(8), object(1)
memory usage: 6.6+ KB

In [ ]:
dfPesoTalto.sample(9)

,Sexo,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
1427,F,0.750,0.610,0.235,2.5085,1.2320,0.5190,0.612,14.0
1762,M,0.770,0.620,0.195,2.5155,1.1155,0.6415,0.642,12.0
1051,F,0.735,0.600,0.220,2.5550,1.1335,0.4400,0.600,11.0
1425,F,0.735,0.565,0.205,2.1275,0.9490,0.4600,0.565,12.0
1036,NaN,0.660,NaN,0.185,15.2800,NaN,NaN,0.441,11.0
1527,M,0.720,0.565,0.200,2.1055,1.0170,0.3630,0.494,12.0
367,F,0.580,0.455,0.120,10.7350,0.4790,0.2735,0.265,10.0
1206,F,0.750,0.570,0.210,2.2360,1.1090,0.5195,0.545,11.0
1985,M,0.760,0.605,0.215,2.1730,0.8010,0.4915,0.646,13.0

In [ ]:
dfPesoTbaixo = df[df["Peso Total"] < 2.982235]

In [ ]:
mediaPesoTbaixa = dfPesoTbaixo["Peso Total"].mean()

In [ ]:
mediaPesoTbaixacerta = mediaPesoTbaixa.round(3)

In [ ]:
dfmexido["Peso Total"] = np.where(df["Peso Total"] > 2.982235, mediaPesoTbaixacerta, df["Peso Total"])

In [ ]:
dfmexido.describe()

,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
count,4167.000000,4167.000000,4167.000000,4167.000000,4144.000000,4167.000000,4161.000000,4167.000000
mean,0.523993,0.407850,0.139472,0.828720,0.358968,0.180463,0.236975,12.831293
std,0.119917,0.099138,0.041781,0.490634,0.222095,0.109322,0.135275,57.276319
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.442500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.800000,0.335750,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.152000,0.501125,0.252500,0.325000,11.000000
max,0.800000,0.650000,1.130000,2.845000,1.488000,0.641500,0.710000,1400.000000

# Anéis

Com base o cálculo dos outliers e seu baixo volume na coluna, foi possível trocar eles pela média

In [ ]:
dfAnel = df.copy()

In [ ]:
dfAnel["Anéis(Idade)"].describe()

count    4167.000000
mean       12.831293
std        57.276319
min         1.000000
25%         8.000000
50%         9.000000
75%        11.000000
max      1400.000000
Name: Anéis(Idade), dtype: float64

In [ ]:
dfAnelAlto = df[dfAnel["Anéis(Idade)"]>3*57.27+12.83]
dfAnelAlto["Anéis(Idade)"]

527     1400.0
632     1000.0
676     1200.0
692     1100.0
2071     900.0
2388    1000.0
2661     900.0
2953    1100.0
3294    1400.0
3770     900.0
4052    1300.0
Name: Anéis(Idade), dtype: float64

In [ ]:
dfAnelBaixo = df[dfAnel["Anéis(Idade)"]<3*57.27+12.83]
mediaAnel = dfAnelBaixo["Anéis(Idade)"].mean()

In [ ]:
dfmexido["Anéis(Idade)"] = np.where(df["Anéis(Idade)"]>3*57.27+12.83 , mediaAnel, df["Anéis(Idade)"])

In [ ]:
# dfmexido[dfmexido["Anéis(Idade)"]<=9 and dfmexido["Sexo"]!=M or dfmexido["Sexo"]!=F or dfmexido["Sexo"]!=I]

dfbaixo = df[dfmexido["Anéis(Idade)"]<=9]
Linhas = dfbaixo.index
dfmexido.loc[Linhas,'Sexo'] = 'I'

# Sexo

Por conta dos valores não serem numéricos, foi necessário a troca para
correspondentes de 0 a 2, usado a imputação por vizinhança

In [ ]:
dfMacho = dfmexido[dfmexido["Sexo"]=="M"]

In [ ]:
dfFemea = dfmexido[dfmexido["Sexo"]=="F"]

In [ ]:
dfInfant = dfmexido[dfmexido["Sexo"]=="I"]

In [ ]:
LinhasMacho = dfMacho.index
dfmexido.loc[LinhasMacho,"Sexo"] = 0

In [ ]:
LinhasFemea = dfFemea.index
dfmexido.loc[LinhasFemea,"Sexo"] = 1

In [ ]:
LinhasInfant = dfInfant.index
dfmexido.loc[LinhasInfant,"Sexo"] = 2

In [ ]:
colunas_numericas = dfmexido.columns[df.dtypes != object].tolist()
coluna_a_imputar = 'Sexo'


imputer = KNNImputer(n_neighbors=10)
dfmexido[coluna_a_imputar] = imputer.fit_transform(dfmexido[colunas_numericas])


dfmexido[coluna_a_imputar] = np.round(dfmexido[coluna_a_imputar])


print(dfmexido)

      Sexo  Comprimento  Diâmetro  Altura  Peso Total  Peso dentro da Concha  \
0      0.0        0.455     0.365   0.095      0.5140                 0.2245
1      0.0        0.350     0.265   0.090      0.2255                 0.0995
2      1.0        0.530     0.420   0.135      0.6770                 0.2565
3      0.0        0.440     0.365   0.125      0.5160                 0.2155
4      0.0        0.330     0.255   0.080      0.2050                 0.0895
...    ...          ...       ...     ...         ...                    ...
4172   1.0        0.565     0.450   0.165      0.8870                 0.3700
4173   1.0        0.590     0.440   0.135      0.9660                 0.4390
4174   1.0        0.600     0.475   0.205      1.1760                 0.5255
4175   1.0        0.625     0.485   0.150      1.0945                 0.5310
4176   1.0        0.710     0.555   0.195      1.9485                 0.9455

      Peso Visceral  Peso da Concha  Anéis(Idade)
0            0.1010          0.1500          15.0
1            0.0485          0.0700           7.0
2            0.1415          0.2100           9.0
3            0.1140          0.1550          10.0
4            0.0395          0.0550           7.0
...             ...             ...           ...
4172         0.2390          0.2490          11.0
4173         0.2145          0.2605          10.0
4174         0.2875          0.3080           9.0
4175         0.2610          0.2960          10.0
4176         0.3765          0.4950          12.0

[4177 rows x 9 columns]

In [ ]:
dfMacho = dfmexido[dfmexido["Sexo"]==0]
dfFemea = dfmexido[dfmexido["Sexo"]==1]
dfInfant = dfmexido[dfmexido["Sexo"]==2]
LinhasMacho = dfMacho.index
dfmexido.loc[LinhasMacho,"Sexo"] = "M"
LinhasFemea = dfFemea.index
dfmexido.loc[LinhasFemea,"Sexo"] = "F"
LinhasInfant = dfInfant.index
dfmexido.loc[LinhasInfant,"Sexo"] = "I"

# Lidando com NAs

Por conta do baixo número de Nans, foi usada novamente a média para substituílos pela média

In [ ]:
dfmexido

,Sexo,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15.0
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7.0
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9.0
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10.0
4,M,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7.0
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11.0
4173,F,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10.0
4174,F,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9.0
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10.0
4176,F,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12.0

In [ ]:
dfmexido.shape

(4177, 9)

In [ ]:
dfmexido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sexo                   4177 non-null   object
 1   Comprimento            4167 non-null   float64
 2   Diâmetro               4167 non-null   float64
 3   Altura                 4167 non-null   float64
 4   Peso Total             4167 non-null   float64
 5   Peso dentro da Concha  4144 non-null   float64
 6   Peso Visceral          4167 non-null   float64
 7   Peso da Concha         4161 non-null   float64
 8   Anéis(Idade)           4167 non-null   float64
dtypes: float64(8), object(1)
memory usage: 293.8+ KB

In [ ]:
valores_substituidos = {"Comprimento" : mediacombaixocerta, "Altura" : mediaalturabaixacerta, "Peso Total" : mediaPesoTbaixacerta, "Diâmetro" : mediadiabaixocerta, "Peso dentro da Concha" : media, "Peso Visceral" : mediaPV, "Peso da Concha" : mediaConcha, "Anéis(Idade)" : mediaAnel}
dfmexido = dfmexido.fillna(value = valores_substituidos)

In [ ]:
dfmexido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sexo                   4177 non-null   object
 1   Comprimento            4177 non-null   float64
 2   Diâmetro               4177 non-null   float64
 3   Altura                 4177 non-null   float64
 4   Peso Total             4177 non-null   float64
 5   Peso dentro da Concha  4177 non-null   float64
 6   Peso Visceral          4177 non-null   float64
 7   Peso da Concha         4177 non-null   float64
 8   Anéis(Idade)           4177 non-null   float64
dtypes: float64(8), object(1)
memory usage: 293.8+ KB

In [ ]:
dfmexido.describe()

,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523993,0.407851,0.139471,0.828721,0.358968,0.180463,0.236975,9.929740
std,0.119773,0.099020,0.041731,0.490046,0.221216,0.109191,0.135015,3.215052
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.443000,0.186500,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.802500,0.339000,0.171000,0.235000,9.929740
75%,0.615000,0.480000,0.165000,1.151000,0.499500,0.252500,0.325000,11.000000
max,0.800000,0.650000,1.130000,2.845000,1.488000,0.641500,0.710000,29.000000

In [ ]:
dfmexido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sexo                   4177 non-null   object
 1   Comprimento            4177 non-null   float64
 2   Diâmetro               4177 non-null   float64
 3   Altura                 4177 non-null   float64
 4   Peso Total             4177 non-null   float64
 5   Peso dentro da Concha  4177 non-null   float64
 6   Peso Visceral          4177 non-null   float64
 7   Peso da Concha         4177 non-null   float64
 8   Anéis(Idade)           4177 non-null   float64
dtypes: float64(8), object(1)
memory usage: 293.8+ KB

In [ ]:
dfmexido

,Sexo,Comprimento,Diâmetro,Altura,Peso Total,Peso dentro da Concha,Peso Visceral,Peso da Concha,Anéis(Idade)
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15.0
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7.0
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9.0
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10.0
4,M,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7.0
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11.0
4173,F,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10.0
4174,F,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9.0
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10.0
4176,F,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12.0

In [ ]:
dfmexido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sexo                   4177 non-null   object
 1   Comprimento            4177 non-null   float64
 2   Diâmetro               4177 non-null   float64
 3   Altura                 4177 non-null   float64
 4   Peso Total             4177 non-null   float64
 5   Peso dentro da Concha  4177 non-null   float64
 6   Peso Visceral          4177 non-null   float64
 7   Peso da Concha         4177 non-null   float64
 8   Anéis(Idade)           4177 non-null   float64
dtypes: float64(8), object(1)
memory usage: 293.8+ KB

In [ ]:
dfmexido.to_csv("sample_data/dfmexido.csv")

NameError: ignored